<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="stylesheet" href="/css/post.css">
    <title><%= post.title %></title>
</head>

<body>
    <div class="postsContainer">
   
    </div>
    
    <div class="view-post">
        <div class="circle-button" onclick="goBack()">
            <svg style="position: relative; z-index: 15; right: -16%; bottom: -13%;" xmlns="http://www.w3.org/2000/svg"
               fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               class="feather feather-chevron-left " viewBox="0 0 34 34" role="img">
               <path d="m15 18-6-6 6-6"></path>
            </svg>
         </div>
        <input type="text" hidden name="" id="images" value="<%= post.post_image %>">
        <h1>
            <%= post.title %>
        </h1>
        <div >
            <%- post.content %>
        </div>
        <div class="post-tags" >
            <% tags.forEach(tag => { %>
                <strong>
                    <span  onclick="showPosts('<%= tag %>')"><%= tag %></span>
                </strong>   
            <% }); %>
        </div>
    </div>
    <script src="/js/post.js"></script>
</body>

</html>