<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    
    <input id="user-data" hidden value='<%- JSON.stringify(user) %>'>
    <div class="circle-button" onclick="goBack()">
        <svg style="position: relative; z-index: 15; right: -16%; bottom: -13%;" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-left " viewBox="0 0 34 34" role="img">
           <path d="m15 18-6-6 6-6"></path>
        </svg>
     </div>
    <div id="name-popup" data-testid="content-container"
        class="sc-aXZVg iturQS bg-white rounded max-h-[70vh] overflow-auto max-w-full min-w-[350px] undefined"
        aria-modal="true">
        <div class="sc-aXZVg jodorW">
            <div data-testid="header-for-settings-modal-container" class="sc-aXZVg bPyLZt">
                <div class="sc-aXZVg sc-gEvEer jiefTX fteAEG">
                    <div class="sc-aXZVg dKubqp">
                        <h4 color="#acacac" font-weight="normal" class="sc-aXZVg BGRsf">Name</h4>
                    </div>
                    <div class="sc-aXZVg hJqqiH"><button type="button" data-testid="close-button"
                            class="sc-aXZVg dsJYEz"><svg aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="xmark" class="svg-inline--fa fa-xmark " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor"
                                    d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z">
                                </path>
                            </svg></button></div>
                </div>
            </div>
            <div class="overflow-auto max-h-[calc(90vh - 100px)]">
                <div class="px-3 py-2 flex flex-col">
                    <div class="">
                        <div class="sc-aXZVg dKubqp">
                            <div class="sc-aXZVg sc-gEvEer dBagiB fteAEG">
                                <div class="sc-aXZVg dKubqp">
                                    <form>
                                        <div class="sc-aXZVg dKubqp">
                                            <input type="text" aria-label="Type your first name" name="firstName"
                                                placeholder="Preferred Name"
                                                data-testid="profile.name-modal.preferredName-input"
                                                autocomplete="given-name" class="sc-aXZVg kIvAKx">
                                        </div>
                                        <div class="sc-aXZVg dKubqp"><input type="text" aria-label="Type your last name"
                                                name="lastName" placeholder="Last Name"
                                                data-testid="profile.name-modal.lastName-input"
                                                autocomplete="family-name" class="sc-aXZVg kIvAKx"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 mx-auto"><button id="name-save"
                            class="save-button text-white bg-blue-600 dark:bg-blue-300 disabled:bg-blue-600 dark:disabled:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-400 active:bg-blue-800 dark:active:bg-blue-500 dark:text-slate-800 flex font-bold items-center py-[.5em] px-[1em] justify-center text-base rounded-full"
                            data-testid="profile-modal-name-wrapper-save-button">Save Changes</button></div>
                </div>
            </div>
        </div>
    </div>
    <div id="email-popup" data-testid="content-container"
        class="sc-aXZVg keJZcx bg-white rounded max-h-[70vh] overflow-auto max-w-full min-w-[350px] undefined"
        aria-modal="true">
        <div class="sc-aXZVg jodorW">
            <div data-testid="header-for-settings-modal-container" class="sc-aXZVg bPyLZt">
                <div class="sc-aXZVg sc-gEvEer jiefTX fteAEG">
                    <div class="sc-aXZVg dKubqp">
                        <h4 color="#acacac" font-weight="normal" class="sc-aXZVg BGRsf">Email</h4>
                    </div>
                    <div class="sc-aXZVg hJqqiH"><button type="button" data-testid="close-button"
                            class="sc-aXZVg dsJYEz"><svg aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="xmark" class="svg-inline--fa fa-xmark " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor"
                                    d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z">
                                </path>
                            </svg></button></div>
                </div>
            </div>
            <div class="overflow-auto max-h-[calc(90vh - 100px)]">
                <div class="px-3 py-2 flex flex-col">
                    <div class="">
                        <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">

                            <form>
                                <div class="sc-aXZVg sc-gEvEer dKubqp fteAEG">
                                    <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">
                                        <div display="flex" class="sc-aXZVg kuLhda">
                                            <div class="sc-aXZVg sc-gEvEer jnnmxG fteAEG">
                                                <p font-weight="700" color="gray50" class="sc-aXZVg hdtqNL">New email
                                                </p>
                                                <div class="sc-aXZVg dKubqp"><input type="email" id="email"
                                                        aria-label="Type your new email" name="email"
                                                        placeholder="New E-Mail"
                                                        data-testid="profile.modals.email.email-input"
                                                        autocomplete="email" class="sc-aXZVg fxdiBN"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="my-4 mx-auto"><button id="email-save"
                            class="save-button text-white bg-blue-600 dark:bg-blue-300 disabled:bg-blue-600 dark:disabled:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-400 active:bg-blue-800 dark:active:bg-blue-500 dark:text-slate-800 flex font-bold items-center py-[.5em] px-[1em] justify-center text-base rounded-full"
                            data-testid="profile-modal-emails-wrapper-save-button">Save Changes</button></div>
                </div>
            </div>
        </div>
    </div>
    <div id="profilePicture-popup" data-testid="content-container"
        class="sc-aXZVg keJZcx bg-white rounded max-h-[70vh] overflow-auto max-w-full min-w-[350px] undefined"
        aria-modal="true">
        <div class="sc-aXZVg jodorW">
            <div data-testid="header-for-settings-modal-container" class="sc-aXZVg bPyLZt">
                <div class="sc-aXZVg sc-gEvEer jiefTX fteAEG">
                    <div class="sc-aXZVg dKubqp">
                        <h4 color="#acacac" font-weight="normal" class="sc-aXZVg BGRsf">Profile picture</h4>
                    </div>
                    <div class="sc-aXZVg hJqqiH"><button type="button" data-testid="close-button"
                            class="sc-aXZVg dsJYEz"><svg aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="xmark" class="svg-inline--fa fa-xmark " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor"
                                    d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z">
                                </path>
                            </svg></button></div>
                </div>
            </div>
            <div class="overflow-auto max-h-[calc(90vh - 100px)]">
                <div class="px-3 py-2 flex flex-col">
                    <div class="">
                        <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">

                            <form>
                                <div class="sc-aXZVg sc-gEvEer dKubqp fteAEG">
                                    <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">
                                        <div display="flex" class="sc-aXZVg kuLhda">
                                            <div class="sc-aXZVg sc-gEvEer jnnmxG fteAEG">
                                                <p font-weight="700" color="gray50" class="sc-aXZVg hdtqNL">Upload a
                                                    profile picture
                                                </p>
                                                <label style="z-index: 40;" for="profile-image">
                                                    <img id="user-image"
                                                        style="width: 100px; height: 100px; border-radius: 50px; object-fit: cover;"
                                                        src="<%= user.profile_picture && user.profile_picture.trim() !== '' ? 
                                                        (user.profile_picture.startsWith('https') ? user.profile_picture : '/profile_images/' + user.profile_picture) :
                                                        '/images/default-avatar.jpg' %>" alt="User Avatar">

                                                </label>
                                                <input id="profile-image" type="file" name="profile_picture"
                                                    accept="image/*" hidden>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="my-4 mx-auto"><button id="email-save"
                            class="save-button text-white bg-blue-600 dark:bg-blue-300 disabled:bg-blue-600 dark:disabled:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-400 active:bg-blue-800 dark:active:bg-blue-500 dark:text-slate-800 flex font-bold items-center py-[.5em] px-[1em] justify-center text-base rounded-full"
                            data-testid="profile-modal-emails-wrapper-save-button">Save Changes</button></div>
                </div>
            </div>
        </div>
    </div>
    <div id="country-popup" data-testid="content-container"
        class="sc-aXZVg keJZcx bg-white rounded max-h-[70vh] overflow-auto max-w-full min-w-[350px] undefined"
        aria-modal="true">
        <div class="sc-aXZVg jodorW">
            <div data-testid="header-for-settings-modal-container" class="sc-aXZVg bPyLZt">
                <div class="sc-aXZVg sc-gEvEer jiefTX fteAEG">
                    <div class="sc-aXZVg dKubqp">
                        <h4 color="#acacac" font-weight="normal" class="sc-aXZVg BGRsf">Country</h4>
                    </div>
                    <div class="sc-aXZVg hJqqiH"><button type="button" data-testid="close-button"
                            class="sc-aXZVg dsJYEz"><svg aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="xmark" class="svg-inline--fa fa-xmark " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor"
                                    d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z">
                                </path>
                            </svg></button></div>
                </div>
            </div>
            <div class="overflow-auto max-h-[calc(90vh - 100px)]">
                <div class="px-3 py-2 flex flex-col">
                    <div class="">
                        <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">

                            <form>
                                <div class="sc-aXZVg sc-gEvEer dKubqp fteAEG">
                                    <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">
                                        <div display="flex" class="sc-aXZVg kuLhda">
                                            <div class="sc-aXZVg sc-gEvEer jnnmxG fteAEG">
                                                <p font-weight="700" color="gray50" class="sc-aXZVg hdtqNL">Update your
                                                    country
                                                </p>
                                                <div class="sc-aXZVg dKubqp"><input type="text" id="email"
                                                        aria-label="Type your new email" name="country"
                                                        placeholder="Country"
                                                        data-testid="profile.modals.email.email-input"
                                                        autocomplete="email" class="sc-aXZVg fxdiBN"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="my-4 mx-auto"><button id="email-save"
                            class="save-button text-white bg-blue-600 dark:bg-blue-300 disabled:bg-blue-600 dark:disabled:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-400 active:bg-blue-800 dark:active:bg-blue-500 dark:text-slate-800 flex font-bold items-center py-[.5em] px-[1em] justify-center text-base rounded-full"
                            data-testid="profile-modal-emails-wrapper-save-button">Save Changes</button></div>
                </div>
            </div>
        </div>
    </div>

    <div id="university-popup" data-testid="content-container"
        class="sc-aXZVg keJZcx bg-white rounded max-h-[70vh] overflow-auto max-w-full min-w-[350px] undefined"
        aria-modal="true">
        <div class="sc-aXZVg jodorW">
            <div data-testid="header-for-settings-modal-container" class="sc-aXZVg bPyLZt">
                <div class="sc-aXZVg sc-gEvEer jiefTX fteAEG">
                    <div class="sc-aXZVg dKubqp">
                        <h4 color="#acacac" font-weight="normal" class="sc-aXZVg BGRsf">University</h4>
                    </div>
                    <div class="sc-aXZVg hJqqiH"><button type="button" data-testid="close-button"
                            class="sc-aXZVg dsJYEz"><svg aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="xmark" class="svg-inline--fa fa-xmark " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor"
                                    d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z">
                                </path>
                            </svg></button></div>
                </div>
            </div>
            <div class="overflow-auto max-h-[calc(90vh - 100px)]">
                <div class="px-3 py-2 flex flex-col">
                    <div class="">
                        <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">

                            <form>
                                <div class="sc-aXZVg sc-gEvEer dKubqp fteAEG">
                                    <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG">
                                        <div display="flex" class="sc-aXZVg kuLhda">
                                            <div class="sc-aXZVg sc-gEvEer jnnmxG fteAEG">
                                                <p font-weight="700" color="gray50" class="sc-aXZVg hdtqNL">Update your
                                                    University
                                                </p>
                                                <div class="sc-aXZVg dKubqp"><input type="text"
                                                        id="university-selection" aria-label="Type your new email"
                                                        name="university" placeholder="University"
                                                        data-testid="profile.modals.email.email-input"
                                                        autocomplete="email" class="sc-aXZVg fxdiBN"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="my-4 mx-auto"><button id="email-save"
                            class="save-button text-white bg-blue-600 dark:bg-blue-300 disabled:bg-blue-600 dark:disabled:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-400 active:bg-blue-800 dark:active:bg-blue-500 dark:text-slate-800 flex font-bold items-center py-[.5em] px-[1em] justify-center text-base rounded-full"
                            data-testid="profile-modal-emails-wrapper-save-button">Save Changes</button></div>
                </div>
            </div>
        </div>
    </div>
    <ul id="university-dropdown" class="selection-dropdown">
    </ul>
    <ul id="country-dropdown" class="selection-dropdown">
    </ul>
    <div id="password-popup" data-testid="content-container"
        class="sc-aXZVg keJZcx bg-white rounded max-h-[70vh] overflow-auto max-w-full min-w-[350px] undefined"
        aria-modal="true">
        <div class="sc-aXZVg jodorW">
            <div data-testid="header-for-settings-modal-container" class="sc-aXZVg bPyLZt">
                <div class="sc-aXZVg sc-gEvEer jiefTX fteAEG">
                    <div class="sc-aXZVg dKubqp">
                        <h4 color="#acacac" font-weight="normal" class="sc-aXZVg BGRsf">Password</h4>
                    </div>
                    <div class="sc-aXZVg hJqqiH"><button id="passowrd-Toggle" type="button" data-testid="close-button"
                            class="sc-aXZVg dsJYEz"><svg aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="xmark" class="svg-inline--fa fa-xmark " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor"
                                    d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z">
                                </path>
                            </svg></button></div>
                </div>
            </div>
            <div class="overflow-auto max-h-[calc(90vh - 100px)]">
                <div class="px-3 py-2 flex flex-col">
                    <div class="">
                        <div class="sc-aXZVg dKubqp">
                            <div class="sc-aXZVg sc-gEvEer dBagiB fteAEG">
                                <div class="sc-aXZVg dKubqp">
                                    <form>
                                        <div class="sc-aXZVg sc-gEvEer eMPMyx fteAEG"><label for="currentPassword"
                                                class="css-1u8lam6">Current password</label>
                                            <div class="sc-aXZVg dKubqp"><input type="password"
                                                    aria-label="Type your current password" name="password"
                                                    placeholder="Current password"
                                                    data-testid="profile.modals.change-password.current-password-input"
                                                    autocomplete="current-password" class="sc-aXZVg jRyLRY"></div>
                                        </div>
                                        <div cn="flex items-center gap-8" class="flex items-center gap-8">
                                            <div cn="h-[1px] w-full bg-gray-100 dark:bg-gray-800 my-[10px]"
                                                class="h-[1px] w-full bg-gray-100 dark:bg-gray-800 my-[10px]"></div>
                                        </div>
                                        <div class="sc-aXZVg sc-gEvEer gUCTPc fteAEG"><label for="newPassword"
                                                class="css-1u8lam6">New password</label>
                                            <!-- <div class="sc-aXZVg sc-gEvEer gRnrFl fteAEG">
                                                <p font-size="14px" font-weight="400" color="#acacac"
                                                    class="sc-aXZVg kXSQYv">Strength:</p>
                                            </div> -->
                                            <div class="sc-aXZVg sc-gEvEer ebGnTZ fteAEG">
                                                <div class="sc-aXZVg dKubqp"><input type="password"
                                                        id="new-password"
                                                        aria-label="Type your new password" name="newPassword"
                                                        placeholder="New password"
                                                        data-testid="profile.modals.change-password.newPassword-input"
                                                        autocomplete="new-password" class="sc-aXZVg jRyLRY"></div>
                                                <div id="change-Toggle" data-testid="profile.modals.change-password.newPassword-show-password-icon"
                                                    class="sc-aXZVg emjAYo"><svg aria-hidden="true" focusable="false"
                                                        data-prefix="far" data-icon="eye-slash"
                                                        class="svg-inline--fa fa-eye-slash " role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                                                        color="#797979" font-size="18px">
                                                        <path fill="currentColor"
                                                            d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zm151 118.3C226 97.7 269.5 80 320 80c65.2 0 118.8 29.6 159.9 67.7C518.4 183.5 545 226 558.6 256c-12.6 28-36.6 66.8-70.9 100.9l-53.8-42.2c9.1-17.6 14.2-37.5 14.2-58.7c0-70.7-57.3-128-128-128c-32.2 0-61.7 11.9-84.2 31.5l-46.1-36.1zM394.9 284.2l-81.5-63.9c4.2-8.5 6.6-18.2 6.6-28.3c0-5.5-.7-10.9-2-16c.7 0 1.3 0 2 0c44.2 0 80 35.8 80 80c0 9.9-1.8 19.4-5.1 28.2zm9.4 130.3C378.8 425.4 350.7 432 320 432c-65.2 0-118.8-29.6-159.9-67.7C121.6 328.5 95 286 81.4 256c8.3-18.4 21.5-41.5 39.4-64.8L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5l-41.9-33zM192 256c0 70.7 57.3 128 128 128c13.3 0 26.1-2 38.2-5.8L302 334c-23.5-5.4-43.1-21.2-53.7-42.3l-56.1-44.2c-.2 2.8-.3 5.6-.3 8.5z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                            <ul font-size="16px" color="#464646" class="sc-aXZVg cUgZfV">
                                                <li display="flex" class="sc-aXZVg bNJTrB">
                                                    <div width="16px" class="sc-aXZVg hqvXAF"><svg aria-hidden="true"
                                                            focusable="false" data-prefix="fas" data-icon="xmark"
                                                            class="svg-inline--fa fa-xmark " role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                            <path fill="currentColor"
                                                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                                                            </path>
                                                        </svg></div>
                                                    <p color="#929292" class="sc-aXZVg gdPLCX">At least 8 characters</p>
                                                </li>
                                                <li display="flex" class="sc-aXZVg bNJTrB">
                                                    <div width="16px" class="sc-aXZVg hqvXAF"><svg aria-hidden="true"
                                                            focusable="false" data-prefix="fas" data-icon="xmark"
                                                            class="svg-inline--fa fa-xmark " role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                            <path fill="currentColor"
                                                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                                                            </path>
                                                        </svg></div>
                                                    <p color="#929292" class="sc-aXZVg dQdHsV">One capital letter,
                                                        symbol, or number</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 mx-auto"><button onclick="change_password()"
                            class="text-white bg-blue-600 dark:bg-blue-300 disabled:bg-blue-600 dark:disabled:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-400 active:bg-blue-800 dark:active:bg-blue-500 dark:text-slate-800 flex font-bold items-center py-[.5em] px-[1em] justify-center text-base rounded-full"
                            data-testid="profile-modal-password-wrapper-save-button">Save Changes</button></div>
                </div>
            </div>
        </div>
    </div>
    <div data-testid="personal-info-container" class="sc-aXZVg bHccxq">
        <div class="sc-aXZVg dlOGgS">
            <h1 color="gray60" font-size="3" class="sc-aXZVg hUnJHG">Personal info</h1>
        </div>
        <div class="sc-aXZVg gzWfrf">
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div id="name-tab" class="sc-aXZVg kzGUQw">
                    <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                        <div class="sc-aXZVg eKtyoD">
                            <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Name</h3>
                        </div>
                        <div class="sc-aXZVg daZvpt">
                            <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                class="sc-aXZVg cFVqNM">
                                <%= user.name %>
                            </p>
                        </div>
                        <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                            <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">

                                <% if (user.name && user.name!=='' && user.firstName!=='' && user.lastName!=='' ) { %>
                                    <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                        <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                            <div class="sc-aXZVg RFcZs"><svg aria-hidden="true" focusable="false"
                                                    data-prefix="far" data-icon="check" class="svg-inline--fa fa-check "
                                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path fill="currentColor"
                                                        d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                    </path>
                                                </svg></div>
                                            <p font-size="0" class=" sc-aXZVg positive">Complete</p>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                            <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                                <div class="negative sc-aXZVg">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="far"
                                                        data-icon="times" class="svg-inline--fa fa-times" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                                                        <path fill="currentColor"
                                                            d="M242.7 316.3L135.4 209 242.7 101.7c9.3-9.3 9.3-24.5 0-33.8-9.3-9.3-24.5-9.3-33.8 0L101.7 175 8.5 71.7c-9.3-9.3-24.5-9.3-33.8 0-9.3 9.3-9.3 24.5 0 33.8L66.2 209 8.5 316.3c-9.3 9.3-9.3 24.5 0 33.8 9.3 9.3 24.5 9.3 33.8 0l93.2-93.2L242.7 350c9.3 9.3 24.5 9.3 33.8 0 9.3-9.3 9.3-24.5 0-33.7z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <p font-size="0" class="negative sc-aXZVg">Incomplete</p>
                                            </div>
                                        </div>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div id="email-tab" class="sc-aXZVg kzGUQw">
                    <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                        <div class="sc-aXZVg eKtyoD">
                            <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Emails</h3>
                        </div>
                        <div class="sc-aXZVg daZvpt">
                            <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                class="sc-aXZVg cFVqNM">
                                <%= user.email %>
                            </p>
                        </div>
                        <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                            <% if (user.email) { %>
                                <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                    <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                        <div color="positive" class="sc-aXZVg RFcZs"><svg aria-hidden="true"
                                                focusable="false" data-prefix="far" data-icon="check"
                                                class="svg-inline--fa fa-check " role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path fill="currentColor"
                                                    d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                </path>
                                            </svg></div>
                                        <p font-size="0" color="positive" class="sc-aXZVg clCBoQ">Complete</p>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                        <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                            <div color="negative" class="sc-aXZVg RFcZs"><svg aria-hidden="true"
                                                    focusable="false" data-prefix="far" data-icon="check"
                                                    class="svg-inline--fa fa-check " role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path fill="currentColor"
                                                        d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                    </path>
                                                </svg></div>
                                            <p font-size="0" color="negative" class="sc-aXZVg clCBoQ">Incomplete</p>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div id="password-tab" class="sc-aXZVg kzGUQw">
                    <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                        <div class="sc-aXZVg eKtyoD">
                            <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Password</h3>
                        </div>
                        <div class="sc-aXZVg daZvpt">
                            <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                class="sc-aXZVg cFVqNM">Change password</p>
                        </div>
                        <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                            <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">

                                    <p font-size="0" color="positive" class="sc-aXZVg clCBoQ"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div id="id-tab" class="sc-aXZVg kzGUQw">
                    <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                        <div class="sc-aXZVg eKtyoD">
                            <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Id</h3>
                        </div>
                        <div class="sc-aXZVg daZvpt">
                            <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                class="sc-aXZVg cFVqNM">
                                <%= user._id %>
                            </p>
                        </div>
                        <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                            <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">

                                    <p font-size="0" color="positive" class="sc-aXZVg clCBoQ"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div id="picture-tab" class="sc-aXZVg kzGUQw">
                    <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                        <div class="sc-aXZVg eKtyoD">
                            <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Profile picture</h3>
                        </div>
                        <div class="sc-aXZVg daZvpt">
                            <img id="profileImage"
                            src="<%= user.profile_picture && user.profile_picture.trim() !== '' ? 
                            (user.profile_picture.startsWith('http') ? user.profile_picture : '/profile_images/' + user.profile_picture) :
                            '/images/default-avatar.jpg' %>">
                            <!-- <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                class="sc-aXZVg cFVqNM">Medicine (MD), First year, Graduating in 2025</p> -->

                        </div>
                        <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                            <% if (user.profile_picture) { %>
                                <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                    <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                        <div color="positive" class="sc-aXZVg RFcZs"><svg aria-hidden="true"
                                                focusable="false" data-prefix="far" data-icon="check"
                                                class="svg-inline--fa fa-check " role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path fill="currentColor"
                                                    d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                </path>
                                            </svg></div>
                                        <p font-size="0" color="positive" class="sc-aXZVg clCBoQ">Complete</p>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                        <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                            <div color="negative" class="sc-aXZVg RFcZs"><svg aria-hidden="true"
                                                    focusable="false" data-prefix="far" data-icon="check"
                                                    class="svg-inline--fa fa-check " role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path fill="currentColor"
                                                        d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                    </path>
                                                </svg></div>
                                            <p font-size="0" color="negative" class="sc-aXZVg clCBoQ">Incomplete</p>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overlay"></div>
        </div>

    </div>
    <div data-testid="personal-info-container" class="sc-aXZVg bHccxq">
        <div class="sc-aXZVg dlOGgS">
            <h1 color="gray60" font-size="3" class="sc-aXZVg hUnJHG">Career and study info</h1>
        </div>
        <div class="sc-aXZVg gzWfrf">
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">

                <div id="country-tab" data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                    <div class="sc-aXZVg kzGUQw">
                        <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                            <div class="sc-aXZVg eKtyoD">
                                <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Country</h3>
                            </div>
                            <div class="sc-aXZVg daZvpt">
                                <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                    class="sc-aXZVg cFVqNM">
                                    <%= user.country %>
                                </p>
                            </div>
                            <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                                <% if (user.country && user.country!=='' ) { %>
                                    <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                        <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                            <div class="sc-aXZVg RFcZs"><svg aria-hidden="true" focusable="false"
                                                    data-prefix="far" data-icon="check" class="svg-inline--fa fa-check "
                                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path fill="currentColor"
                                                        d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                    </path>
                                                </svg></div>
                                            <p font-size="0" class=" sc-aXZVg positive">Complete</p>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                            <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                                <div class="negative sc-aXZVg">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="far"
                                                        data-icon="times" class="svg-inline--fa fa-times" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                                                        <path fill="currentColor"
                                                            d="M242.7 316.3L135.4 209 242.7 101.7c9.3-9.3 9.3-24.5 0-33.8-9.3-9.3-24.5-9.3-33.8 0L101.7 175 8.5 71.7c-9.3-9.3-24.5-9.3-33.8 0-9.3 9.3-9.3 24.5 0 33.8L66.2 209 8.5 316.3c-9.3 9.3-9.3 24.5 0 33.8 9.3 9.3 24.5 9.3 33.8 0l93.2-93.2L242.7 350c9.3 9.3 24.5 9.3 33.8 0 9.3-9.3 9.3-24.5 0-33.7z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <p font-size="0" class="negative sc-aXZVg">Incomplete</p>
                                            </div>
                                        </div>
                                        <% } %>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div id="university-tab" data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                    <div class="sc-aXZVg kzGUQw">
                        <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                            <div class="sc-aXZVg eKtyoD">
                                <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">University</h3>
                            </div>
                            <div class="sc-aXZVg daZvpt">
                                <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                    class="sc-aXZVg cFVqNM">
                                    <%= user.university %>
                                </p>
                            </div>
                            <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                                <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                    <!-- <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                        <div color="positive" class="sc-aXZVg RFcZs"><svg aria-hidden="true"
                                                focusable="false" data-prefix="far" data-icon="check"
                                                class="svg-inline--fa fa-check " role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path fill="currentColor"
                                                    d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                </path>
                                            </svg></div>
                                        <p font-size="0" color="positive" class="sc-aXZVg clCBoQ">Complete</p>
                                    </div> -->
                                    <% if (user.university && user.university!=='' ) { %>
                                        <div data-testid="profile-item-row-status-completed" class="sc-aXZVg ccOEsT">
                                            <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                                <div class="sc-aXZVg RFcZs"><svg aria-hidden="true" focusable="false"
                                                        data-prefix="far" data-icon="check"
                                                        class="svg-inline--fa fa-check " role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                        <path fill="currentColor"
                                                            d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z">
                                                        </path>
                                                    </svg></div>
                                                <p font-size="0" class=" sc-aXZVg positive">Complete</p>
                                            </div>
                                        </div>
                                        <% } else { %>
                                            <div data-testid="profile-item-row-status-completed"
                                                class="sc-aXZVg ccOEsT">
                                                <div class="sc-aXZVg sc-gEvEer hvbgQA fteAEG">
                                                    <div class="negative sc-aXZVg">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="far"
                                                            data-icon="times" class="svg-inline--fa fa-times" role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                                                            <path fill="currentColor"
                                                                d="M242.7 316.3L135.4 209 242.7 101.7c9.3-9.3 9.3-24.5 0-33.8-9.3-9.3-24.5-9.3-33.8 0L101.7 175 8.5 71.7c-9.3-9.3-24.5-9.3-33.8 0-9.3 9.3-9.3 24.5 0 33.8L66.2 209 8.5 316.3c-9.3 9.3-9.3 24.5 0 33.8 9.3 9.3 24.5 9.3 33.8 0l93.2-93.2L242.7 350c9.3 9.3 24.5 9.3 33.8 0 9.3-9.3 9.3-24.5 0-33.7z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <p font-size="0" class="negative sc-aXZVg">Incomplete</p>
                                                </div>
                                            </div>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div data-testid="personal-info-container" class="sc-aXZVg bHccxq">
        <div class="sc-aXZVg dlOGgS">
            <h1 color="gray60" font-size="3" class="sc-aXZVg hUnJHG">privacy and term of use</h1>
        </div>
        <div class="sc-aXZVg gzWfrf">
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">

                <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                    <div class="sc-aXZVg kzGUQw">
                        <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                            <div class="sc-aXZVg eKtyoD">
                                <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Phone number</h3>
                            </div>
                            <div class="sc-aXZVg daZvpt">
                                <p font-size="1" color="gray70" data-testid="profile-item-row-data-incomplete"
                                    class="sc-aXZVg cFVqNM">

                                </p>
                            </div>
                            <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">

                                <div class="buttons">
                                    <button id="public" onclick="phoneNumber('public')"
                                        class="<%= user.phoneHidden ? 'phone-button' : 'phone-button active' %>">Public</button>
                                    <button id="private" onclick="phoneNumber('private')"
                                        class="<%= user.phoneHidden ? 'phone-button active' : 'phone-button' %>">Hidden</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                <div data-testid="profile-item-row-container" tabindex="0" class="sc-aXZVg bjzJhs">
                    <div class="sc-aXZVg kzGUQw">
                        <div class="sc-aXZVg sc-gEvEer gAkMuP fteAEG">
                            <div class="sc-aXZVg eKtyoD">
                                <h3 color="gray70" font-size="1" class="sc-aXZVg dfWAaJ">Terms of use</h3>
                            </div>
                            <div class="sc-aXZVg daZvpt">

                            </div>
                            <div data-testid="profile-item-row-status-container" class="sc-aXZVg kncpbH">
                                <button id="public" onclick="window.location.href ='/pages/terms-of-use';"
                                    class="phone-button active">Open</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/js/profile.js"></script>

</body>

</html>